  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight</span>
      <%= link_to "#{@works.first.title}", work_path(@works.first.id), class: "spotlight__link-to"%>
      <%= "by #{@works.first.creator}"%>
    </h2>
    <p class="spotlight__description">
      20 votes - 
      <%= @works.first.description %>
    </p>
  </section>

  <hr class="root__hr">
  
  <section class="top-ten__container">
  <% @works.all_categories.each do |cat| %>
    <section class="top-ten__list-container">
    <h2 class="top-ten__header">
      Top <%= cat.capitalize %>s
    </h2>
    <ul class="list-group top-ten__list">
    <% @works.find_top(cat).each do |work| %>
      <li class="list-group-item">
        <h4>
          <%= link_to "#{work.title}", work_path(work.id)%>
          <small class="top-ten__creator">by <%= work.creator %></small>
        </h4>
        <p>20 votes</p>
      </li>
    <% end %>
    </ul>
    </section>
    <% end %>

  </section>