<main>
  <%= form_with model: @work, class: 'create-work' do |f| %>
  <% if action_name == "Edit"%>
    <h1> <%= action_name %> this <%= @work.category %> </h1>
  <% else %>
    <h1> <%= action_name %> a new work </h1>
  <% end %>

    <% if @work.errors.any? %>
      <ul class="errors">
        <% @work.errors.each do |column, message| %>
          <li>
            <strong><%= column.capitalize %> <%= message %> </strong>
          </li>
        <% end %>
      </ul>
    <% end %>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category, ["album", "book", "movie"], {}, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :creator %>
    <%= f.text_field :creator, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :publication_year %>
    <%= f.text_field :publication_year, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, { class: "form-control" } %>
  </div>
  <% if action_name == "Edit"%>
    <%= f.submit "Update Work", class: "btn btn-primary" %>
  <% else %>
    <%= f.submit "Create Work", class: "btn btn-primary" %>
  <% end %>
  </div>

  <% end %>
</main>