<h2>List of Works</h2>
<% if @works.length > 0 %>
  
    <% Work.all_categories.each do |category|  %>
      <section class="media-table">
        <h4><%= category.capitalize %>s</h4>
        <table class="table">
        <thead>
          <tr>
            <th width="80">Votes</th>
            <th width="440">Title</th>
            <th>Created By</th>
            <th width="100">Published</th>
            <th width="100">Upvote</th>
            </tr>
        </thead>
        <tbody>
          <% @works.find_top(category).each do |work| %>
            <tr>
              <td>11</td>
              <td><%= link_to(work.title, work_path(work.id) ) %></td>
              <td><%= work.creator %></td>
              <td><%= work.publication_year %></td>
              <td><%= link_to "Upvote", works_path, class: "btn btn-primary"%></td>
            </tr>
          <% end %>
        </tbody>
        </table>
      </section>
    <% end %>

<% else %>
  <h3>No works in the system!</h3>
<% end %>

<%= link_to "View top media", root_path, class: "btn btn-secondary"%>
<%= link_to "Add a new work", new_work_path, class: "btn btn-primary"%>