<section>
  <h2><%= @work.title%></h2>
  <p>Created by: <%= @work.creator %></p>
  <p>Published: <%= @work.publication_year %></p>
  <p><%= @work.description %></p>
  <section>
    <%= link_to "Back to media ranks", root_path, class: "btn btn-primary" %>
    <%= link_to "Edit", edit_work_path(@work.id), class: "btn btn-primary" %>
    <%= link_to "Upvote", work_upvote_path(@work.id), method: :post, params: {:vote => {:user_id => session[:user_id]}}, class: "btn btn-primary"%>
    <%= link_to "Delete Work", work_path(@work), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
  </section>
</section>
<section class="works-votes__container">
  <h3 class="works-votes__header"><%= @work.votes.count %> Votes for this <%= @work.category %></h3>

  <table class=table>
    <thead>
      <tr>
        <th width="608">User</th>
        <th>Date</th>
      </tr>
    </thead>
    
    <tbody>
      <% if @work.users %>
        <% @work.votes.each do |vote| %>
          <tr>
            <td><%= link_to(vote.user.username, user_path(vote.user_id) ) %></td>
            <td><%= vote.created_at.to_s.to_time.strftime('%B %e, %Y') %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>  
